div.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  top: 100px;
  width: 70%;
}

h1 {
	text-align: center;
}

#url {
	width: 800px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

#title {
  font-size: 1.2em;
  font-weight: bold;
}

#price {
  color: red;
}